@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p>@localizer["Learnabout"]<a href="https://docs.microsoft.com/aspnet/core">@localizer["Building"]</a>.</p>
</div>
